VITE_REOWN_PROJECT_ID=aa5427a18f0efc9d533439359b0031b3
VITE_WORLD_MINI_APP_URL=https://worldcoin.org/mini-app?app_id=app_f4a98191ddc786151b045abc9fcef81b&app_mode=mini-app
SAFE_API_KEY=
GELATO_RELAY_API_KEY=
ETHERSCAN_API_KEY=
WORLDSCAN_API_KEY=
